.header {
    margin: 0;
    padding: 0;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    margin-right: 48px;
    margin-left: 48px;
    padding-top: 28px;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {

    .header {
        height: 10vh;
    }
}

@media screen and (max-width: 1023px) {

    .header {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {

    .header {

        height: 6.5vh;
        margin-right: 16px;
        margin-left: 16px;
        padding-top: 16px;
    }
}