.header__lang-links {
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;
    min-width: 77px;
    justify-content: space-between;

}

@media screen and (max-width: 767px) {

    .header__lang-links {
        min-width: 62px;
    }
}